{% extends "base_generic.html" %}

{% block content %}
<h1>Hoai Nam's Blog Home Page</h1>
<h3>Welcome to my blog! This is a blog website developed by Hoai Nam Dinh.</h3>
<br>
<h3>About me:</h3>
<div style="width: 50%; margin: 0px; word-wrap: break-word;">
    <p>Chào các bạn, tôi là Hoài Nam, một sinh viên Data Science. Hành trình học tập của tôi bắt đầu từ khi tìm cách cài lại win sau khi phá máy. Tôi luôn mong muốn tạo ra những dự án thực tế, từ phân tích dữ liệu đến xây dựng mô hình học máy. Đối với tôi, Data Science không chỉ là một nghề, mà là một công cụ mạnh mẽ để thay đổi và cải thiện thế giới xung quanh.</p>
  </div>
<br>
<ul></ul>

{% endblock %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

